
  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
    font-family: 'Lilita One', cursive;
    background-color: aqua;
    padding: 100px;
    
}
.team{
    width: 40%;
    height: 350px;
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
    margin-right: 20px;
    float:left;
    font-size: 32px;
}

button{
    width: 500px;
    font-size: 40px;
    background-color: brown;
    color: black;
    padding: 100px;
    margin-top: 100px;
}
.winner{
    background-color: green;
    color: white;
}